{# src/LG/SaleBundle/Resources/views/Sale/index.html.twig #}

{% extends "LGSaleBundle::layout.html.twig" %}

{% block title %}

    Accueil - {{ parent() }}

{% endblock %}

{% block lgsale_body %}
    <div class="row" id="HomeTitle">
        <div id="HomeTitleContent" class="col-md-12">
            <img id="HomeTitleLogo" src="{{ asset('bundles/lgsale/css/pictures/louvre_logo.jpg') }}"/>
        </div>
    </div>

    <div class="row" id="HomeDivContent">
        <div id="HomeContent" class="col-md-6">
            <h1>Le Louvre</h1>
            <hr/>
            <img id="HomePictureContent" src="{{ asset('bundles/lgsale/css/pictures/louvre_home.jpg') }}"/>
            <p>
                Le palais du Louvre est un ancien palais royal situé dans le 1er arrondissement de Paris sur la rive droite de la Seine, entre le jardin des Tuileries et l'église Saint-Germain-l'Auxerrois. S'étendant sur une surface bâtie de plus de 135 000 m2, le palais du Louvre est le plus grand palais européen, et le second plus grand bâtiment du continent après le palais du Parlement roumain. Il abrite aujourd'hui le musée du Louvre.
                La construction du Louvre est indissociable de l'histoire de Paris. Elle s'étend sur plus de 800 ans1, bien que le plan général du palais ait été imaginé dès la Renaissance. Charles V y établit sa résidence, donnant au palais un statut qu'il a conservé jusqu'au règne de Louis XIV2.
                Avec 8,9 millions de visiteurs annuels en 2011, c'est le site culturel le plus visité en France devant la tour Eiffel, la cathédrale Notre-Dame de Paris étant en tête des monuments à l'accès libre avec 13,6 millions de visiteurs estimés3.
            </p>
        </div>

        <div id="HomeContent" class="col-md-6">
            <h1>Les Tarifs</h1>
            <hr/>
            <p>
                Le musée du Louvre est ouvert tous les jours, sauf les mardis et les 1er janvier, 1er mai et 25 décembre, de 9h à 18h, jusqu'à 21h45 les mercredis et vendredis, à l’exception des jours fériés. La fermeture des salles débute à 17h30 et à 21h30 les mercredis et vendredis.
            </p>
            <p>
                Certaines salles du musée sont fermées selon un calendrier hebdomadaire.
            </p>
            <p>
                Le billet acheté en ligne est horodaté et nominatif, un document d’identité peut être demandé.
                Il est valable exclusivement pour la prestation, la date et à compter de l'heure mentionnée. Il ne constitue pas un coupe file mais permet un accès à la pyramide du Louvre dans la demi-heure de l'horaire indiqué. En cas de non-respect de ce créneau horaire, le porteur du billet print@home est soumis aux mêmes conditions d'accès et d'attente que les visiteurs sans billet.
            </p>
            <p>
                Les conditions d’accès des visiteurs munis d’un e-ticket s’appliquent également aux visiteurs bénéficiant d'un accès libre qui les accompagnent.
            </p>

            <a href="{{ path('Price') }}" class="btn btn-default">
                Achetez vos tickets maintenant !
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a>

        </div>
    </div>
{% endblock %}







