{# src/LG/SaleBundle/Resources/views/Sale/selling.html.twig #}

{% extends "LGSaleBundle::layout.html.twig" %}

{% block title %}

    Tarifs - {{ parent() }}

{% endblock %}

{% block lgsale_body %}

<div class="row">

    <div id="SaleContent" class="col-md-6">
        <h1>Ici sera placé du texte explicatif</h1>
    </div>

    <div id="SaleContent" class="col-md-6">
        <h1>Ici sera positionné le formulaire</h1>
    </div>


{% endblock %}







